// GENERAL PROJECT STYLES


.wizard_block {
  background-color: $bg-gray;
  height: 100%;
  max-height: 470px;
  padding: 45px 80px;
  h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 30px 0;
    font-weight: 700;
    color: $coolgray;
  }
  .breacrumbs_list {
    background-color: $white;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    gap: 8px;
    color: $textcolor;
    margin: 6px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    li {
      padding: 13.5px 0;
      &:hover {
        color: $accent;
        transition: all ease-in-out .3s;
      }
      span {
        font-size: 13px;
        line-height: 17px;
        display: block;
        position: relative;
        &::after {
          content: '';
          display: flex;
          background: url(/app/images/svg/breadcrumbs_arrow.svg);
          object-fit: contain;

        }
      }
    }
  }
}

.form-inputs {
  .input-group {
    margin-bottom: 20px;
    .form-control {
      width: 100%;
      height: 44px;
      background-color: $white;
      border: 1px solid #D1D5DB;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}